<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajeria TIF</title>
    <link rel="stylesheet" href="../styles/login/login.css">
</head>
<body>
    <div class="login">
        <img src="../assets/imagenes/explorar-servidores.png" class="image-izquierda" alt="">
        <img src="../assets/imagenes/information-carousel-3c.png" class="image-derecha" alt="">
        <div class="form-container">
            <h1 class="title">Crear una cuenta</h1>
            <form action="" id="formulario" class="form">

                <label for="input_email" class="label">Correo Electronico</label>
                <input type="email"  class="input" id="input_email" name="input_email" required>

                <label for="input_nickname" class="label">Nombre de Usuario</label>
                <input type="text"  class="input" id="input_nickname" name="input_nickname" required>

                <label for="input_name" class="label">Nombre</label>
                <input type="text"  class="input" id="input_name" name="input_nombre" required>

                <label for="input_apellido" class="label">Apellido</label>
                <input type="text"  class="input" id="input_apellido" name="input_apellido" required>
            
                <label for="input_contrasenia" class="label">Contraseña</label>
                <input type="password" class="input"  id="input_contrasenia" name="input_contrasenia" required>

                <label>Fecha de nacimiento</label>
                <input type="date" class="input" id="input-fecha" name="input_fecha">
            
                <button id="btn_registrar" class="boton boton-inicio-session">Confirmar</button>
                
            </form>
            <div id="message" class="message-error"></div>
        </div>    
    </div>
    <script src="../scripts/registro/registro.js"></script>
</body>
</html>